---
import dribLogo from "../assets/drib-logo.svg?url";
import book from "../assets/book-half.svg?url";
---

<div class="container-fluid">
    <div class="row py-4">
        <div class="col d-flex align-items-end justify-content-center">
            <img src={dribLogo} class="logo" />
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-start justify-content-center">
            <h1>drib</h1>
        </div>
    </div>
    <div class="row">
        <div
            class="col-12 col-md-6 mb-4 d-flex align-items-center justify-content-center p-4"
        >
            <pre><code>val sum = sum(x, y) &#123; return x + y; &#125;;<br />val ans = sum(40, 2);<br />println("I found the answer!");</code></pre>
        </div>
        <div
            class="col-12 col-md-6 mb-4 d-flex align-items-center justify-content-center p-4"
        >
            <p class="mx-4 text-center">
                A tiny, dynamic, open source scripting language written in <span
                    >Kotlin</span
                >.
            </p>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col d-flex align-items-center justify-content-center py-4">
            <button class="btn btn-primary"
                ><img
                    src={book}
                    alt="Bootstrap"
                    width="20"
                    height="20"
                    class="me-2"
                />Read the docs</button
            >
        </div>
    </div>
</div>

<style>
    .container-fluid {
        height: fit-content;
        background-color: var(--color-main-pale);

        .row {
            height: calc(100% / 4);
        }
    }

    .logo {
        height: 150px;
        filter: invert(12%) sepia(18%) saturate(14%) hue-rotate(129deg)
            brightness(101%) contrast(91%) !important;
    }

    h1 {
        font-family: "Bytesized", sans-serif;
        font-weight: 400;
        font-size: 150px;
        letter-spacing: 10px;
        font-style: normal;
        text-align: center;
        color: var(--color-black);
    }

    p {
        font-size: 21px;
        color: var(--color-black);
    }

    code {
        font-family: "JetBrains Mono", monospace;
        font-size: 15px;
        color: var(--color-black);
    }

    button {
        width: 200px;
        height: 60px;
        border: 1px var(--color-black-darker);
        border-radius: 10px;
        background-color: var(--color-black);

        img {
            filter: invert(99%) sepia(1%) saturate(121%) hue-rotate(182deg)
                brightness(116%) contrast(93%);
        }
    }

    button:hover,
    button:active,
    button:focus,
    button {
        background-color: var(--color-black-pale);
    }

    .btn.btn-primary {
        background-color: var(--color-black) !important;
        border: 1px solid var(--color-black-darker) !important;
        color: var(--color-white) !important;
    }

    .btn.btn-primary:hover,
    .btn.btn-primary:focus {
        background-color: var(--color-black-pale) !important;
        color: var(--color-white) !important;
    }

    .btn.btn-primary:active {
        background-color: var(--color-black) !important;
    }
</style>
