---
import dribLogo from "../assets/drib-pp.png?url";
---

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex align-items-end justify-content-center">
            <img src={dribLogo} class="logo" />
        </div>
    </div>
    <div class="row pb-0">
        <div class="col d-flex align-items-start justify-content-center">
            <h1 class="text-center align-self-center">drib</h1>
        </div>
    </div>
    <div class="row pb-4 pt-0">
        <div class="col d-flex align-items-start justify-content-center">
            <p class="text-center align-self-center">
                a tiny esoteric programming language
            </p>
        </div>
    </div>
</div>

<style>
    .container-fluid {
        height: 70vh;
        height: 70svh;
        height: calc(var(--vh, 1vh) * 70);
        background-color: var(--color-blue);

        .row {
            height: calc(100% / 3);
        }
    }

    .logo {
        height: 270px;
    }

    h1 {
        font-family: "Bytesized", sans-serif;
        font-weight: 400;
        font-size: 150px;
        letter-spacing: 10px;
        font-style: normal;
        text-align: center;
        color: var(--color-main-pale);
    }

    p {
        font-size: 21px;
        color: var(--color-main-pale);
    }

    code {
        font-family: "JetBrains Mono", monospace;
        font-size: 15px;
        color: var(--color-black);
    }

    button {
        width: 200px;
        height: 60px;
        border: 1px var(--color-black-darker);
        border-radius: 10px;
        background-color: var(--color-black);

        img {
            filter: invert(99%) sepia(1%) saturate(121%) hue-rotate(182deg)
                brightness(116%) contrast(93%);
        }
    }

    button:hover,
    button:active,
    button:focus,
    button {
        background-color: var(--color-black-pale);
    }

    .btn.btn-primary {
        background-color: var(--color-black) !important;
        border: 1px solid var(--color-black-darker) !important;
        color: var(--color-white) !important;
    }

    .btn.btn-primary:hover,
    .btn.btn-primary:focus {
        background-color: var(--color-black-pale) !important;
        color: var(--color-white) !important;
    }

    .btn.btn-primary:active {
        background-color: var(--color-black) !important;
    }
</style>
