<div class="container-fluid height-120">
    <div class="row d-flex align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-end">
            <h1>Drib is...</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-top">
            <p>
                Dynamic, open source programming language with a focus on
                simplicity and productivity. It has an elegant syntax that is
                natural to read and easy to write.
            </p>
        </div>
    </div>
</div>

<style>
    .height-120 {
        height: 360px;
        color: var(--ctp-mocha-text);
        text-align: center;
        background-color: var(--ctp-mocha-base);

        .row {
            height: 100%;
        }

        .col-12 {
            height: 50%;
        }
    }
</style>
