<div class="container d-flex align-items-center">
    <div class="row">
        <div
            class="col-12 col-md-6 mb-4 d-flex flex-column justify-content-center align-items-center px-4"
        >
            <h1 class="text-center">Simple and familiar</h1>
            <p class="text-center">
                Drib is an easy-to-learn programming language similar to the
                programming languages you already know.
            </p>
        </div>
        <div
            class="col-12 col-md-6 mb-4 d-flex flex-column justify-content-center align-items-center px-4"
        >
            <h1 class="text-center">Small but powerful!</h1>
            <p class="text-center">
                Drib provides functionality for simple arithmetic operations and
                even image processing.
            </p>
        </div>
    </div>
</div>

<style>
    .container {
        min-height: 500px;
    }

    h1 {
        color: var(--color-main);
    }

    p {
        color: var(--color-black);
    }
</style>
