---
import dribLogo from "../assets/drib-logo.svg?url";
---

<div class="container-fluid height-150">
    <div class="row d-flex align-items-center">
        <div class="col-6 d-flex justify-content-end align-items-start">
            <img class="logo" src={dribLogo} alt="Drib logo" />
            <h2 class="ms-2">Drib</h2>
        </div>
        <div class="col-6 d-flex justify-content-start"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>© Drib</p>
        </div>
    </div>
</div>

<style>
    .height-150 {
        height: 150px;
    }

    .container-fluid {
        background-color: var(--ctp-mocha-base);

        .row {
            height: 50%;

            h2 {
                color: var(--ctp-mocha-text);
                line-height: 27px;
            }

            img {
                height: 27px;
                max-width: auto;
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: invert(91%) sepia(85%) saturate(6151%)
                    hue-rotate(178deg) brightness(100%) contrast(91%);
            }
        }
    }
</style>
