<div class="container-fluid height-120">
    <div class="row d-flex align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Get started</button>
        </div>
    </div>
</div>

<style>
    .height-120 {
        height: 120px;

        .row {
            height: 100%;
        }

        button {
            border-radius: 26px;
            border: none;
            height: 52px;
            width: 170px;
            color: var(--ctp-mocha-text);

            background: linear-gradient(
                to right,
                var(--ctp-mocha-sapphire),
                var(--ctp-mocha-mauve)
            );
            background-size: 100%;
            transition: transform 0.3s ease;
        }

        button:hover {
            transform: scale(1.08);
            background-size: 130%;
        }

        button:active {
            transform: scale(1.05);
            color: var(--ctp-mocha-text);
        }
    }
</style>
