<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Drib</a>

        <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        >Documentation</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Brand</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar {
        height: 70px;
        background-color: var(--ctp-frappe-crust) !important;
    }

    .navbar a {
        color: var(--ctp-frappe-blue);
    }

    .navbar img {
        filter: invert(1);
    }
</style>
