<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand ms-4" href="#">drib</a>
    </div>
</nav>

<style>
    nav {
        height: 50px;
        font-family: "Bytesized", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: var(--color-main) !important;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);

        a {
            line-height: 0px;
            letter-spacing: 3px;
            font-size: 24px !important;
            color: var(--color-white) !important;
        }
    }
</style>
